.card-container {
	margin: 0 auto;
	max-width: 450px;
	overflow: hidden;
	padding: 16px;
	width: 100%;
}

.card-wrap {
	box-sizing: border-box;
}

.card-wrap::after {
	content: ' ';
	clear: 'both';
	display: 'table';
}

.card {
	align-items: center;
	background: #FFF;
	border-radius: 3px;
	border: 1px solid cornflowerblue;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	height: 120px;
	justify-content: space-around;
	padding: 20px 0;
}
